# Backend
backend/.env
backend/__pycache__/
backend/app/__pycache__/
backend/venv/
backend/.venv/
*.pyc

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/out/

.DS_Store
