<!DOCTYPE html>
<html>

<head>
    <title>AI Resume Screener</title>
</head>

<body>

    <h1>AI Resume Screener</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file" name="resume" required>

        <br><br>

        <button type="submit">

            Upload Resume

        </button>

    </form>

    
    {% if filename %}
    <hr>
    <h2>Uploaded File</h2>
    <p>{{ filename }}</p>
    <h2>Extracted Resume Text</h2>
    <textarea rows="20" cols="100">{{ extracted_text }}</textarea>
    {% endif %}
    

</body>

</html>